@import "global_styles/variables_and_mixins";

.timerWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    .timer {
        font-size: 4em;
        line-height: 1em;
        font-weight: 900;
        transition: color .2s ease-in;
        @include resetTapHighlight;
    }
}