.item {
    width: 100%;
    float: right;
    list-style: none;
    &.grabbed {
        position: absolute;
        box-shadow: 2px 2px 3px #a2a2a2;
        z-index: 10;
        width: 100%;
    }
    &.removed {
        transition-property: width, max-height;
        transition-duration: .4s, .4s;
        transition-delay: 0.1s, .4s;
        transition-timing-function: ease-in, ease;
        width: 0;
        max-height: 0;
    }
}